@import "../utils";

.card {
  width: 200px;

  border: 1px solid $c-gray;
  border-radius: 5px;
  padding: 15px;

  &__picture {
    padding: 15px 5px 45px;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__title {
    @include font-sm;

    font-weight: 500;

    margin-bottom: 6px;
  }

  &__details {
    @include font-xs;

    margin-bottom: 15px;
  }

  &__rating {
    @extend %flex-between;

    margin-bottom: 20px;
  }

  &__reviews {
    @include font-xs;
  }

  &__price {
    @extend %flex-between;

    align-items: baseline;

    margin-bottom: 20px;

    @include font-xs;
  }

  &__price-value {
    @include font-lg;
    font-weight: 700;
  }

  &__button {
    @include hover(background-color, lighten($c-main, 5%));

    width: 100%;
    padding: 12px 20px;

    background-color: $c-main;
    border-radius: 5px;

    @include font-md;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
  }
}
