.stars {
  &__star {
    display: inline-block;
    width: 13px;
    height: 12px;

    background: url("../../images/star.svg") no-repeat center;
    background-size: cover;

    &:not(:last-child) {
      margin-right: 4px;
    }

    &--active {
      background-image: url("../../images/star-active.svg");
    }
  }
}
